@inject SignInManager<ApplicationUser> SignInManager
@inject IUnitOfWork UnitOfWork
@inject IImageServices ImageServices

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (string.IsNullOrEmpty(UnitOfWork.Users.GetUserAsync(User).Result?.imgPath) != false)
        {
            <li class="nav-item">
                <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(await ImageServices.Get(UnitOfWork.Users.GetUserAsync(User).Result.imgPath)))" />
            </li>
        }
        else
        {
            <img alt="profile" class="avatar rounded-circle" src="~/assets/DefualtPicture.jpg" />
        }
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Login">Login</a>
        </li>
    }
</ul>
