@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}
<section class="pb-4">
    @*<div class="bg-white border rounded-5">*@
        <section class=" p-4 d-flex justify-content-center py-4 bgeee w-100">
            <div class="card text-center" style="width: 300px;">
                <div class="card-header h5 text-white bg-primary">Password Reset</div>
                <div class="card-body px-5">
                    <p class="card-text py-2">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </p>
                    <form asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-outline">
                            <label asp-for="item" class="form-control my-3"></label>
                        <input asp-for="item" class="form-label" />
                            <span asp-validation-for="item" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Reset password" class="btn btn-primary w-100" />
                    </form>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" href="/Login">Login</a>
                        <a class="" href="/Register">Register</a>
                    </div>
                </div>
            </div>
        </section>
    @*</div>*@
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
