@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<section class="vh-100" style="background-color: #508bfc;background-size: cover">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form asp-action="ResetPassword">
                            <h2 class="mb-4 text-center">@ViewData["Title"]</h2>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="userId" />
                                <input asp-for="Email" />
                                <input asp-for="Token" />
                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control form-control-lg" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="ConfirmPassword" class="form-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
