﻿@{
    ViewBag.Title = "Reset Password Success";
}

<hgroup class="title text-center">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="text-center">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login" , routeValues: null, htmlAttributes: new { id = "loginLink" })

    </p>
</div>